<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianghongbo.dao.UserDao">

    <resultMap id="user" type="com.jianghongbo.entity.User">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="portrait" jdbcType="VARCHAR" property="portrait" />
        <result column="shss_token" jdbcType="VARCHAR" property="shss_token" />
        <result column="login_time" jdbcType="VARCHAR" property="login_time" />
    </resultMap>

    <!-- 用户列表查询 -->
    <select id="getUserList" resultMap="user" parameterType="user" >
        select * from user_info where 1=1
        <if test="id != null and id !=''">
            and id = #{id}
        </if>
        <if test="username != null and username !=''">
            and username = #{username}
        </if>
    </select>
    <!-- 用户信息查询 -->
    <select id="getUser" resultMap="user" parameterType="user" >
        select * from user_info where 1=1
        <if test="id != null and id !=''">
            and id = #{id}
        </if>
        <if test="username != null and username !=''">
            and username = #{username}
        </if>
    </select>
    <!-- 用户注册 -->
    <insert id="registerUserInfo" parameterType="user" >
        insert into user_info (username, password, portrait, login_time)
        values (#{username}, #{password}, #{portrait}, now())
    </insert>
    <!-- 用户信息修改 -->
    <update id="updateUserInfo" parameterType="user" >
        update user_info
        <trim prefix="set" suffixOverrides=",">
            <if test="username != null and username !=''"> username = #{username}, </if>
            <if test="password != null and password !=''"> password = #{password}, </if>
            <if test="portrait != null and portrait !=''"> portrait = #{portrait}, </if>
            <if test="shss_token != null and shss_token !=''"> shss_token = #{shss_token}, </if>
            <if test="login_time != null and login_time !=''"> login_time = now(), </if>
        </trim>
        where id = #{id}
    </update>
    <!-- 注销用户 -->
    <delete id="deleteUserInfo" parameterType="user" >
        delete from user_info where id = #{id}
    </delete>
</mapper>