<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianghongbo.dao.UserInfoWriterMapper">

    <resultMap id="userInfo" type="com.jianghongbo.entity.UserInfo">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="portrait" jdbcType="VARCHAR" property="portrait" />
        <result column="shss_token" jdbcType="VARCHAR" property="shssToken" />
        <result column="login_time" jdbcType="VARCHAR" property="loginTime" />
    </resultMap>

    <!-- 用户注册 -->
    <insert id="registerUserInfo" parameterType="userInfo" >
        insert into user_info (username, password, portrait, login_time)
        values (#{username}, #{password}, #{portrait}, now())
    </insert>
    <!-- 用户信息修改 -->
    <update id="updateUserInfo" parameterType="userInfo" >
        update user_info
        <trim prefix="set" suffixOverrides=",">
            <if test="username != null and username !=''"> username = #{username}, </if>
            <if test="password != null and password !=''"> password = #{password}, </if>
            <if test="portrait != null and portrait !=''"> portrait = #{portrait}, </if>
            shss_token = #{shssToken, jdbcType=VARCHAR},
            <if test="loginTime != null and loginTime !=''"> login_time = now(), </if>
        </trim>
        where id = #{id}
    </update>
    <!-- 注销用户 -->
    <delete id="deleteUserInfo" parameterType="userInfo" >
        delete from user_info where id = #{id}
    </delete>
    
</mapper>